DATABASE_URL="postgresql://postgres:Serigne197@localhost:5432/gestion-stock"
PORT=3001
URI=/api
CLOUDINARY_CLOUD_NAME=da4sfyuwq
CLOUDINARY_API_KEY=441252265452967
CLOUDINARY_API_SECRET=pdEw8PXGstpUy8FPoeJ9oSqwNUk
JWT_SECRET=super_secret_key